[Desktop Entry]
Type=Application
Name=Work-RDP
Terminal=false
Exec=rdesktop -a 24 -f -z -x l -r clipboard:PRIMARYCLIPBOARD -k en-gb -u simon -r sound:local -r disk:Work=/home/simon/Work -r disk:MStore=/home/simon/MoonStore -x 0x80 10.0.10.104
Icon=/usr/share/icons/Ultra-Flat/apps/scalable/virtualbox.svg
NoDisplay=false